In [3]:
import pandas  as pd
from   keras.models import Sequential
from   keras.layers import Dense 
import numpy as np
import matplotlib.pyplot as plt

Reading Data

In [4]:
data = pd.read_csv('/content/magic_gamma_telescope04_.csv')

In [5]:
data.head()

,flength,fwidth,fsize,fconc,fconc1,fsym,fm3long,fm3trans,falpha,dist,class
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g

In [13]:
data['class'].value_counts()

g    12332
h     6688
Name: class, dtype: int64

verifying null values

In [14]:
data.isnull().sum()

flength     0
fwidth      0
fsize       0
fconc       0
fconc1      0
fsym        0
fm3long     0
fm3trans    0
falpha      0
dist        0
class       0
dtype: int64

Checking the data types

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   flength   19020 non-null  float64
 1   fwidth    19020 non-null  float64
 2   fsize     19020 non-null  float64
 3   fconc     19020 non-null  float64
 4   fconc1    19020 non-null  float64
 5   fsym      19020 non-null  float64
 6   fm3long   19020 non-null  float64
 7   fm3trans  19020 non-null  float64
 8   falpha    19020 non-null  float64
 9   dist      19020 non-null  float64
 10  class     19020 non-null  object
dtypes: float64(10), object(1)
memory usage: 1.6+ MB

In [15]:
data.describe()

,flength,fwidth,fsize,fconc,fconc1,fsym,fm3long,fm3trans,falpha,dist
count,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000,19020.000000
mean,53.250154,22.180966,2.825017,0.380327,0.214657,-4.331745,10.545545,0.249726,27.645707,193.818026
std,42.364855,18.346056,0.472599,0.182813,0.110511,59.206062,51.000118,20.827439,26.103621,74.731787
min,4.283500,0.000000,1.941300,0.013100,0.000300,-457.916100,-331.780000,-205.894700,0.000000,1.282600
25%,24.336000,11.863800,2.477100,0.235800,0.128475,-20.586550,-12.842775,-10.849375,5.547925,142.492250
50%,37.147700,17.139900,2.739600,0.354150,0.196500,4.013050,15.314100,0.666200,17.679500,191.851450
75%,70.122175,24.739475,3.101600,0.503700,0.285225,24.063700,35.837800,10.946425,45.883550,240.563825
max,334.177000,256.382000,5.323300,0.893000,0.675200,575.240700,238.321000,179.851000,90.000000,495.561000

In [18]:
x = data.drop('class', axis = 1)

In [20]:
y = data['class']

In [82]:
y.head()
y.tail()

19015    1
19016    1
19017    1
19018    1
19019    1
dtype: int8

converting data type of y to category to convert it into numbers

In [55]:
y = y.astype('category')
y = y.cat.codes
y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int8

In [26]:
from sklearn.model_selection import

Splitting the data

In [74]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [75]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(14265, 10)
(4755, 10)
(14265,)
(4755,)

Normalising the input data

In [76]:
from sklearn.preprocessing import StandardScaler

In [77]:
scaler = StandardScaler()
scaled_x_train = scaler.fit_transform(x_train)
scaled_x_test = scaler.transform(x_test)

In [78]:
input_dim   = len(data.columns) - 1 # number of neurons in the input layer
n_neurons   = 50            # number of neurons in the first hidden layer
epochs      = 100           # number of training cycles

creating the model

In [90]:
model = Sequential()
# input layer
model.add(Dense(n_neurons, input_dim=input_dim, activation='relu'))
model.add(Dense(n_neurons, activation='relu'))
# output layer, with one neuron
model.add(Dense(1, activation='sigmoid'))
# compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

fitting the model

In [91]:
model.fit(scaled_x_train, y_train, epochs=epochs, verbose=0)

Predicting the output value and finding the score

In [92]:
predictions = model.predict(x_test)
predictions

array([[5.0309840e-08],
       [1.0000000e+00],
       [2.6424195e-30],
       ...,
       [1.0000000e+00],
       [1.0000000e+00],
       [1.0000000e+00]], dtype=float32)

In [93]:
predictions = (predictions > 0.5)*1

In [94]:
predictions

array([[0],
       [1],
       [0],
       ...,
       [1],
       [1],
       [1]])

In [98]:
y_test.tail()

11993    0
18271    1
2876     0
4385     0
17026    1
dtype: int8

In [96]:
from sklearn.metrics import accuracy_score

In [97]:
accuracy_score(y_test.values, predictions)

0.6046267087276551